.badge {
    bottom: 180px;
    left: 20px;
    font-size: 13px;
}

.cards {
    border: 5px solid rgba(17, 119, 34, 0.582);
    border-radius: 20px;
}

.img {
    border-radius: 20px 20px 0 0 ;
}

.content {
    padding: 10px;
}