@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Poltawski+Nowy:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url(https://wallpapercave.com/wp/wp3277724.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poltawski {
  font-family: "Poltawski Nowy" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}